@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(4.5rem - 1px) !important;
}

body {
    letter-spacing: 0.0625em !important;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    background-color: #5446EB;
}

h1{
    font-size: 3em;
    color: white;
    font-weight: 700;
}

h2{
    font-size: 2.5em;
    color: white;
    font-weight: 700;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.btn-normal {
    font-weight: 700;
    text-transform: uppercase;
    border: 0;

    color: #5446EB;
    background-color: #fff;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;


    height: 50px;
    min-width: 150px;
}

.center{
    margin: 0 auto;
    display: block;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    gap: 20px;
}

.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.masthead {
    max-width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
}

header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

.logo{
    max-height: 88px;
    width: auto;
}

.btn-big{
    width: 80%;
    height: 100px;
    font-size: 2em;
}

.form-field{
    width: 277px;
}

.gender{
    color: white;
}

footer{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    background-color: #3c3397;
}


@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .card{
        padding: 50px;
    }
}

