
body {
    letter-spacing: 0.0625em !important;
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    background-color: #5446EB;
}


input{
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}


.form-field{
    width: 277px;
}

.gender{
    color: white;
}


@media (min-width: 992px) {
    .masthead {
        height: 100vh!important;
        padding: 0;
    }

    .card{
        padding: 50px;
    }
}
